@import url("https://webfontworld.github.io/SCoreDream/SCoreDream.css");
@import url("https://webfontworld.github.io/cafe24/Cafe24Danjunghae.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "SCoreDream";
  background-color: #fefefc;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #82ca9c;
}

ul li, ol li {
  list-style: none;
}

img {
  display: block;
}

h1 {
  font-size: 1.8em;
}

span {
  display: block;
  font-size: 1em;
}

article {
  display: block;
}

form {
  display: block;
  margin-top: 0em;
}

body, button, input {
  margin: 0;
  padding: 0;
}

header,
nav,
main,
aside,
article,
footer {
  display: block;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  margin: 0 auto;
  padding: 0 auto;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 60px;
  padding: 0 15px;
  border-bottom: 1px solid #333;
  background-color: #fefefc;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  header {
    width: 80px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0;
    border-bottom: 0;
    border-right: 1px solid #333;
  }
}

header h1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 1024px) {
  header h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

header nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 1024px) {
  header nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul.gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header nav ul.gnb li {
  display: block;
}

header nav ul.gnb li img {
  width: 100%;
  height: auto;
}

header div.side-menu {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media screen and (min-width: 1024px) {
  header div.side-menu .s-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header div.side-menu .s-menu li {
  display: none;
}

@media screen and (min-width: 1024px) {
  header div.side-menu .s-menu li {
    display: block;
    margin-top: 35px;
  }
}

header div.side-menu .s-menu li:first-child {
  font-size: 18px;
  margin-top: 0;
}

header div.side-menu .s-menu li:first-child a {
  color: #333333;
}

header div.side-menu .s-menu li:last-child {
  display: block;
}

header div.side-menu .s-menu li:last-child a img {
  width: 25px;
  height: 25px;
}

header div.menu-sub {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 40px;
  margin: 0 auto;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 1024px) {
  header div.menu-sub {
    margin-left: 80px;
    width: 450px;
  }
}

header div.menu-sub a.closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 60px;
}

header div.menu-sub a {
  color: #333333;
  padding: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header div.menu-sub a:hover {
  color: #999;
}

header div.menu-sub a:focus {
  color: #999;
}

header div.menu-sub ul.myMenu {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: left;
}

header div.menu-sub ul.myMenu .menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.menu-sub ul.myMenu .menu-top a {
  font-size: 22px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #333333;
}

header div.menu-sub ul.myMenu .menu-top a:hover {
  color: #999;
}

header div.menu-sub ul.myMenu .menu-top a:focus {
  color: #999;
}

header div.menu-sub ul.myMenu li {
  margin-bottom: 10px;
}

header div.menu-sub ul.myMenu li ul li a {
  font-weight: 400;
  font-size: 20px;
  text-indent: 30px;
}

header div.search-sub {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 1;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.9);
}

header div.search-sub .closebtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 60px;
  cursor: pointer;
  color: #fefefc;
}

header div.search-sub .closebtn:hover {
  color: #ccc;
}

header div.search-sub .search-sub-content {
  position: relative;
  top: 45%;
  -webkit-transform: translateYs(-45%);
          transform: translateYs(-45%);
  width: 100%;
  margin: auto;
}

header div.search-sub .search-sub-content input {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px;
  font-size: 17px;
  border: none;
  width: 80%;
  margin: auto;
  background: #fefefc;
}

header div.search-sub .search-sub-content input:hover {
  background: #f1f1f1;
}

main {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 0 auto;
  }
}

main nav {
  display: none;
}

@media screen and (min-width: 1024px) {
  main nav {
    display: block;
  }
}

main nav .wrapper {
  width: 100%;
}

@media screen and (min-width: 768px) {
  main nav .wrapper {
    width: 100%;
    width: 1024px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  main nav .wrapper {
    width: 1024px;
    margin: 0 auto;
  }
}

main nav .wrapper .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main nav .wrapper .gnb li {
  display: inline-block;
  padding-top: 112px;
  padding-right: 58px;
}

main nav .wrapper .gnb li a {
  font-size: 1em;
  font-family: "SCoreDream";
}

main .title-login {
  position: relative;
  margin: 0 0;
  padding: 0 20px;
  margin-top: 5px;
  padding-top: 5px;
  font-size: 3em;
}

main .title-login .title {
  margin-top: 55px;
  padding: 0 auto;
}

@media screen and (min-width: 1024px) {
  main .title-login .title {
    display: block;
    padding-left: 527px;
    padding-top: 30px;
    margin-top: 25px;
  }
}

main .title-login .title .title-fir {
  font-size: 1.5em;
  font-family: "SCoreDream";
  font-weight: 500;
  margin: 0 auto;
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  main .title-login .title .title-fir {
    display: block;
    float: left;
    margin: 0 auto;
    padding: 0 auto;
    margin-left: -283px;
    margin-top: -90px;
    padding-top: 5px;
    font-size: 90px;
  }
}

main .title-login .title .title-sub {
  display: none;
}

@media screen and (min-width: 768px) {
  main .title-login .title .title-sub {
    display: block;
    width: 1024px;
    font-size: 20px;
    font-family: "SCoreDream";
    margin-top: -50px;
    margin-left: -320px;
    padding-left: 510px;
    padding-top: 7px;
  }
}

@media screen and (min-width: 1024px) {
  main .title-login .title .title-sub {
    display: block;
    width: 1024px;
    font-size: 22px;
    font-family: "SCoreDream";
    padding-left: 275px;
    padding-top: 40px;
  }
}

main .title-login .loginform {
  margin: 0 0;
  margin-top: -25px;
  padding-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (min-width: 768px) {
  main .title-login .loginform {
    padding-top: 70px;
  }
}

@media screen and (min-width: 1024px) {
  main .title-login .loginform {
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 120px;
    margin-left: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 42px;
  }
}

main .title-login .loginform .loginform-box {
  margin-left: auto;
  margin-right: auto;
}

main .title-login .loginform .loginform-box .loginform-input-form {
  display: block;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

main .title-login .loginform .loginform-box .loginform-input-form .inp_wrap {
  padding-left: 10px;
  margin-top: 50px;
  width: 312px;
  font-size: 12px;
}

main .title-login .loginform .loginform-box .loginform-input-form .inp_wrap .inp_lab {
  margin-top: 27px;
  padding-top: 10px;
  font-size: 17px;
}

main .title-login .loginform .loginform-box .loginform-input-form .inp_wrap input {
  width: 245px;
  height: 46px;
  border: 1px solid #e1dedf;
  font-size: 17px;
  margin-top: 8px;
}

main .title-login .loginform .loginform-box .loginform-input-form .inp_wrap .loginform-id {
  margin-top: 12px;
  padding-top: 10px;
  font-size: 17px;
}

main .title-login .loginform .loginform-box .loginform-input-form .login-button {
  width: 100%;
  padding-top: 64px;
  padding-left: 10px;
  -webkit-transform: translateY(-267px);
          transform: translateY(-267px);
}

main .title-login .loginform .loginform-box .loginform-input-form .login-button button {
  cursor: pointer;
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  text-align: center;
  width: 250px;
  height: 48px;
  background-color: #82ca9c;
  border-radius: 10px;
  border-color: white;
  padding-left: 10%;
  margin-top: 235px;
  margin-left: -2px;
  font-size: 25px;
}

main .title-login .loginform .loginform-box .loginform-input-form .login-button button a {
  color: #fefefe;
  font-size: 1em;
  font-family: "SCoreDream";
  margin-right: 50px;
  width: 90%;
}

main .title-login .loginform .loginform-box .loginform-input-form .login-button button a:hover {
  background-color: whitesmoke;
}

main .title-login .find-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 105%;
  position: absolute;
  padding-top: 2px;
  padding-left: 7px;
  margin-top: -220px;
  line-height: -16px;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  main .title-login .find-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 360px;
    margin-top: 300px;
    margin: 0 auto;
    margin-left: 16px;
  }
}

@media screen and (min-width: 1024px) {
  main .title-login .find-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2px;
    margin-top: -940px;
    padding-top: 320px;
  }
}

main .title-login .find-login .login-id {
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  main .title-login .find-login .login-id {
    padding-top: 20px;
    padding-left: 70px;
    margin-top: 450px;
  }
}

main .title-login .find-login .login-id .login-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  width: 100%;
  color: #333333;
  margin-left: -70px;
}

main .title-login .find-login .login-id .login-align li {
  padding-top: -20px;
  padding-right: 15px;
  word-spacing: -100px;
  display: block;
}

main .title-login .find-login .login-id .login-align li:hover {
  color: #82ca9c;
}

main .title-login .find-login .login-id .login-align li a {
  width: 65px;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  color: #333;
  border-right: 1px solid #333;
  color: #333;
  word-spacing: 3px;
}

main .title-login .find-login .login-id .login-align li a:last-child {
  border-right: 0;
}

main .title-login .find-login .login-id .login-align li a:hover {
  color: #82ca9c;
}
/*# sourceMappingURL=login_member.css.map */