
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-text;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

ul, ol, li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: $color-a;
    &:hover {
        color: $color-hover;
    }
}
