
$color-a: #000;
$color-hover: #82ca9c;

$color-text: #000;

$font-text: 'S-CoreDream-4Regular'; 

$width-wide: 100%;
$width-half: 50%;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px; //그리드시스템 크기 

$point-color : #82ca9c;
$font-color : #333333;
$bg-color : #fefefc;



