$point-color : #82ca9c;
$font-color : #333333;
$font-sub-color : #666666;
$bg-color : #fefefc;

$main-font : 'SCoreDream';
$sub-font : 'Cafe24Danjunghae';
$font : 'PT Serif', serif;

$width-wide: 100%;
$width-half: 50%;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;