@import "style.scss";
@import "common.scss";
@import "mixin.scss";

body {
    -ms-overflow-style: none;

    @include responsive(pc-size) {
        padding-left: 80px;
    }
}

::-webkit-scrollbar { display: none; }

// header-area
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #333;
    background-color: $bg-color;
    z-index: 1;

    @include responsive(pc-size) {
        width: 80px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
        border-bottom: 0;
        border-right: 1px solid #333;
    }

    h1 {
        order: 2;

        @include responsive(pc-size) {
            order: 1;
        }

    }

    nav {
        order: 1;

        @include responsive(pc-size) {
            order: 2;
        }

        ul.gnb {
            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            li {
                display: block;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    div.side-menu {
        order: 3;

        .s-menu {         
            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }

            li {
                display: none;

                @include responsive(pc-size) {
                    display: block;
                    margin-top: 35px;
                }

                &:first-child {
                    font-size: 18px;
                    // transform: rotate(-90deg);
                    margin-top: 0;

                    a {
                        color: $font-color;
                    }
                }
    
                &:last-child {
                    display: block;
    
                    a {
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }

    div.menu-sub {
        display: none;
        position: relative;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0 40px;
        margin: 0 auto;
        z-index: 10;
        background-color: rgba(256,256,256, 0.9);

        @include responsive(pc-size) {
            margin-left: 80px;
            width: 450px;
        }

        a.closebtn {
            position: absolute;
            top: 20px;
            right: 25px;
            font-size: 60px;
        }

        a {
            color: $font-color;
            padding: 8px;
            text-decoration: none;
            font-weight: 500;
            font-size: 36px;
            transition: 0.3s;

            &:hover {
                color: #999;
            }

            &:focus {
                color: #999;
            }
        }

        ul.myMenu {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: left;

            .menu-top {
                display: flex;

                a {
                    font-size: 22px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    color: $font-color;

                    &:hover {
                        color: #999;
                    }
        
                    &:focus {
                        color: #999;
                    }
                }
            }

            li {
                margin-bottom: 10px;

                ul {
                    li {
                        a {
                            font-weight: 400;
                            font-size: 20px;
                            text-indent: 30px;
                        }
                    }
                }
            }
        }
    }

    div.search-sub {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: rgba(0,0,0, 0.9);

        .closebtn {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 60px;
            cursor: pointer;
            color: $bg-color;

            &:hover {
                color: #ccc;
            }
        }

        .search-sub-content {
            position: relative;
            top: 45%;
            transform: translateYs(-45%);
            width: 100%;
            margin: auto;

            input {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                padding: 15px;
                font-size: 17px;
                border: none;
                width: 80%;
                margin: auto;
                background: $bg-color;

                &:hover {
                    background: #f1f1f1;
                }
            }
        }
    }
}
/////////////////////// header ////////////////////////////


main {
    #head {
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../images/theblack_bg.png) no-repeat center;
        background-size: cover;

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            // background-color: pink;
            line-height: 100vh;
            vertical-align: center;
            font: {
                family: $font;
                size: 2.5em;
                weight: 300;
                style: italic;
            }
            color: $bg-color;
            text-align: center;
            text-shadow: 1.5px 4px 1.5px #000;
            letter-spacing: 0.03em;
            line-height: 1.2em;

            @include responsive(tablet-size) {
                font: {
                    size: 4.8em;
                    weight: 500;
                }
                text-shadow: 5px 6px 2px #000;
                letter-spacing: 0.03em;
            }
            @include responsive(pc-size) {
                font: {
                    size: 9.4vw;
                    weight: 600;
                }
                text-shadow: 5px 6px 2px #000;
                letter-spacing: 0.07em;
                line-height: 18vh;
            }
        }
    }
/////////////////////// #head ////////////////////////////

    #contents{
        margin-top: 30px;

        .wrapper {
            @include wrapper;

            img {
                width: 100%;
                height: 50vw;

                @include responsive(tablet-size) {
                    width: 50%;
                    height: 20vw;
                }
                @include responsive(pc-size) {
                    height: 18vw;
                }
            }

            h2 {
                @include txt(0.9em, 700);
                text-align: center;
                letter-spacing: 0.01em;
                word-break: keep-all;
                margin-top: 30px;
                margin-bottom: 15px;

                @include responsive(tablet-size) {
                    @include txt(1.2em, 400);
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    margin-top: 0;
                    margin-bottom: 20px;
                }
                @include responsive(pc-size) {
                    @include txt(1.5em, 400);
                    letter-spacing: 0.03em;
                    margin-bottom: 5px;
                }
            }

            p {
                @include p_des;

                @include responsive(tablet-size) {
                    @include p_des(18px);
                }
            }

            .story, .zoning {
                @include responsive(tablet-size) {
                    @include dire;
                    margin-bottom: 50px;
                }
                @include responsive(pc-size) {
                    margin-bottom: 65px;
                }

                h2, p {
                    @include responsive(tablet-size) {
                        text-align: left;
                        padding-left: 10%;
                    }
                }
            }

            .advanced, .layering {
                @include responsive(tablet-size) {
                    margin-bottom: 50px;
                }
            }

            .advanced, .layering > .layering_flex {
                @include responsive(tablet-size) {
                    @include dire(row-reverse);
                }
                @include responsive(pc-size) {
                    margin-bottom: 65px;
                }

                h2, p {
                    @include responsive(tablet-size) {
                        width: 100%;
                        text-align: right;
                        padding-right: 10%;
                    }
                }
            }

            .story_text, .advanced_text,
            .zoning_text, .layering_text {
                @include responsive(tablet-size) {
                    width: 50%;
                }
            }

            .zoning > .zoning_img_00,
            .zoning > .zoning_img_02,
            .zoning > .zoning_img_03,
            .zoning > .zoning_img_04,
            .zoning > .zoning_img_05 {
                display: none;
            }

            .layering {
                .layering_flex {
                    @include responsive(tablet-size) {
                        margin-bottom: 20px;
                    }

                    @include responsive(pc-size) {
                        margin-bottom: 35px;
                    }
                }
                .mat {
                    display: flex;
                    flex-wrap: nowrap;

                    .mat_img {
                        height: 5.5em;

                        @include responsive(pc-size) {
                            width: 13em;
                            height: 7.5em;
                        }
                    }

                    .spring {
                        width: 100%;
                        margin-right: 20px;

                        @include responsive(tablet-size) {
                            @include dire;
                        }

                        .spring_text {
                            @include responsive(tablet-size) {
                                margin-left: 10px;
                            }
                            @include responsive(pc-size) {
                                margin-left: 15px;
                            }

                            h2 {
                                margin-top: 15px;

                                @include responsive(tablet-size) {
                                    @include txt(0.7em, 500);
                                    text-align: left;
                                    letter-spacing: 0.02em;
                                    line-height: 1.2em;
                                    margin-bottom: 10px;
                                }
                                @include responsive(pc-size) {
                                    @include txt(0.9em, 500);
                                    margin-bottom: 10px;
                                }
                            }

                            p {
                                @include p_des;

                                @include responsive(tablet-size) {
                                    @include p_des(18px);
                                }
                            }
                        }
                    }

                    .friendly {
                        width: 100%;

                        @include responsive(tablet-size) {
                            @include dire; 
                        }

                        .friendly_text {
                            @include responsive(tablet-size) {
                                margin-left: 10px;
                            }
                            @include responsive(pc-size) {
                                margin-left: 15px;
                            }

                            h2 {
                                margin-top: 15px;

                                @include responsive(tablet-size) {
                                    @include txt(0.7em, 500);
                                    text-align: left;
                                    letter-spacing: 0.02em;
                                    line-height: 1.2em;
                                    margin-bottom: 7px;
                                }
                                @include responsive(pc-size) {
                                    @include txt(0.9em, 500);
                                    margin-bottom: 8px;
                                }
                            }

                            p {
                                @include p_des;

                                @include responsive(tablet-size) {
                                    @include p_des(18px);
                                }
                            }
                        }
                    }
                }
            }

            .safety {
                img {
                    @include responsive(tablet-size) {
                        width: 70%;
                        height: 15em;
                        margin: 0 auto;
                    }
                    @include responsive(pc-size) {
                        width: 70%;
                        height: 20em;
                        margin: 0 auto;
                    }
                }

                .safety_text {
                    @include responsive(tablet-size) {
                        width: 50%;
                        margin: 0 auto;
                    }
                    @include responsive(pc-size) {
                        width: 45%;
                    }

                    h2 {
                        @include responsive(tablet-size) {
                            margin-top: 20px;
                        }
                        @include responsive(pc-size) {
                            margin-bottom: 20px;
                        }
                    }

                    .cc_1 {
                        @include p_des;
                        text-align: center;
                        color: #000;

                        @include responsive(tablet-size) {
                            @include p_des(18px);
                        }
                    }

                    .cc_2, .cc_3 {
                        @include p_des;
                        text-align: center;

                        @include responsive(tablet-size) {
                            @include p_des(18px);
                        }
                    }
                }
            }
        }
    }
}
/////////////////////// main ////////////////////////////