@import url("https://webfontworld.github.io/SCoreDream/SCoreDream.css");
@import url("https://webfontworld.github.io/cafe24/Cafe24Danjunghae.css");
@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "SCoreDream";
  background-color: #fefefc;
  width: 100%;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: #333333;
}

ul li, ol li {
  list-style: none;
}

img {
  display: block;
  vertical-align: bottom;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 0.9em;
}

span {
  display: block;
  font-size: 1em;
}

header,
nav,
main,
section,
aside,
article,
footer {
  display: block;
}

body {
  -ms-overflow-style: none;
}

@media screen and (min-width: 1024px) {
  body {
    padding-left: 80px;
  }
}

::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  border-bottom: 1px solid #333;
  background-color: #fefefc;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  header {
    width: 80px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0;
    border-bottom: 0;
    border-right: 1px solid #333;
  }
}

header h1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 1024px) {
  header h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

header nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 1024px) {
  header nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul.gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header nav ul.gnb li {
  display: block;
}

header nav ul.gnb li img {
  width: 100%;
  height: auto;
}

header div.side-menu {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media screen and (min-width: 1024px) {
  header div.side-menu .s-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header div.side-menu .s-menu li {
  display: none;
}

@media screen and (min-width: 1024px) {
  header div.side-menu .s-menu li {
    display: block;
    margin-top: 35px;
  }
}

header div.side-menu .s-menu li:first-child {
  font-size: 18px;
  margin-top: 0;
}

header div.side-menu .s-menu li:first-child a {
  color: #333333;
}

header div.side-menu .s-menu li:last-child {
  display: block;
}

header div.side-menu .s-menu li:last-child a img {
  width: 25px;
  height: 25px;
}

header div.menu-sub {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 40px;
  margin: 0 auto;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 1024px) {
  header div.menu-sub {
    margin-left: 80px;
    width: 450px;
  }
}

header div.menu-sub a.closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 60px;
}

header div.menu-sub a {
  color: #333333;
  padding: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header div.menu-sub a:hover {
  color: #999;
}

header div.menu-sub a:focus {
  color: #999;
}

header div.menu-sub ul.myMenu {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: left;
}

header div.menu-sub ul.myMenu .menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.menu-sub ul.myMenu .menu-top a {
  font-size: 22px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #333333;
}

header div.menu-sub ul.myMenu .menu-top a:hover {
  color: #999;
}

header div.menu-sub ul.myMenu .menu-top a:focus {
  color: #999;
}

header div.menu-sub ul.myMenu li {
  margin-bottom: 10px;
}

header div.menu-sub ul.myMenu li ul li a {
  font-weight: 400;
  font-size: 20px;
  text-indent: 30px;
}

header div.search-sub {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 1;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.9);
}

header div.search-sub .closebtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 60px;
  cursor: pointer;
  color: #fefefc;
}

header div.search-sub .closebtn:hover {
  color: #ccc;
}

header div.search-sub .search-sub-content {
  position: relative;
  top: 45%;
  -webkit-transform: translateYs(-45%);
          transform: translateYs(-45%);
  width: 100%;
  margin: auto;
}

header div.search-sub .search-sub-content input {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px;
  font-size: 17px;
  border: none;
  width: 80%;
  margin: auto;
  background: #fefefc;
}

header div.search-sub .search-sub-content input:hover {
  background: #f1f1f1;
}

main #head {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/theblack_bg.png) no-repeat center;
  background-size: cover;
}

main #head h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  line-height: 100vh;
  vertical-align: center;
  font-family: "Ramaraja", serif;
  font-size: 2.5em;
  font-weight: 300;
  font-style: italic;
  color: #fefefc;
  text-align: center;
  text-shadow: 1.5px 4px 1.5px #000;
  letter-spacing: 0.03em;
  line-height: 1.2em;
}

@media screen and (min-width: 768px) {
  main #head h1 {
    font-size: 4.8em;
    font-weight: 500;
    text-shadow: 5px 6px 2px #000;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1024px) {
  main #head h1 {
    font-size: 9.4vw;
    font-weight: 600;
    text-shadow: 5px 6px 2px #000;
    letter-spacing: 0.07em;
    line-height: 18vh;
  }
}

main #contents {
  margin-top: 30px;
}

main #contents .wrapper {
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

main #contents .wrapper img {
  width: 100%;
  height: 50vw;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper img {
    width: 50%;
    height: 20vw;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper img {
    height: 18vw;
  }
}

main #contents .wrapper h2 {
  font-size: 0.9em;
  font-weight: 700;
  color: #000;
  text-align: center;
  letter-spacing: 0.01em;
  word-break: keep-all;
  margin-top: 30px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper h2 {
    font-size: 1.2em;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #000;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
  }
}

main #contents .wrapper p {
  line-height: 1.5;
  font-size: 14px;
  margin: auto;
  color: #999;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper p {
    line-height: 1.5;
    font-size: 18px;
    margin: auto;
    color: #999;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .story, main #contents .wrapper .zoning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .story, main #contents .wrapper .zoning {
    margin-bottom: 65px;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .story h2, main #contents .wrapper .story p, main #contents .wrapper .zoning h2, main #contents .wrapper .zoning p {
    text-align: left;
    padding-left: 10%;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .advanced, main #contents .wrapper .layering {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .advanced, main #contents .wrapper .layering > .layering_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .advanced, main #contents .wrapper .layering > .layering_flex {
    margin-bottom: 65px;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .advanced h2, main #contents .wrapper .advanced p, main #contents .wrapper .layering > .layering_flex h2, main #contents .wrapper .layering > .layering_flex p {
    width: 100%;
    text-align: right;
    padding-right: 10%;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .story_text, main #contents .wrapper .advanced_text,
  main #contents .wrapper .zoning_text, main #contents .wrapper .layering_text {
    width: 50%;
  }
}

main #contents .wrapper .zoning > .zoning_img_00,
main #contents .wrapper .zoning > .zoning_img_02,
main #contents .wrapper .zoning > .zoning_img_03,
main #contents .wrapper .zoning > .zoning_img_04,
main #contents .wrapper .zoning > .zoning_img_05 {
  display: none;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .layering .layering_flex {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .layering .layering_flex {
    margin-bottom: 35px;
  }
}

main #contents .wrapper .layering .mat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main #contents .wrapper .layering .mat .mat_img {
  height: 5.5em;
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .layering .mat .mat_img {
    width: 13em;
    height: 7.5em;
  }
}

main #contents .wrapper .layering .mat .spring {
  width: 100%;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .layering .mat .spring {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .layering .mat .spring .spring_text {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .layering .mat .spring .spring_text {
    margin-left: 15px;
  }
}

main #contents .wrapper .layering .mat .spring .spring_text h2 {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .layering .mat .spring .spring_text h2 {
    font-size: 0.7em;
    font-weight: 500;
    color: #000;
    text-align: left;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .layering .mat .spring .spring_text h2 {
    font-size: 0.9em;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
  }
}

main #contents .wrapper .layering .mat .spring .spring_text p {
  line-height: 1.5;
  font-size: 14px;
  margin: auto;
  color: #999;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .layering .mat .spring .spring_text p {
    line-height: 1.5;
    font-size: 18px;
    margin: auto;
    color: #999;
  }
}

main #contents .wrapper .layering .mat .friendly {
  width: 100%;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .layering .mat .friendly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .layering .mat .friendly .friendly_text {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .layering .mat .friendly .friendly_text {
    margin-left: 15px;
  }
}

main #contents .wrapper .layering .mat .friendly .friendly_text h2 {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .layering .mat .friendly .friendly_text h2 {
    font-size: 0.7em;
    font-weight: 500;
    color: #000;
    text-align: left;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    margin-bottom: 7px;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .layering .mat .friendly .friendly_text h2 {
    font-size: 0.9em;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
  }
}

main #contents .wrapper .layering .mat .friendly .friendly_text p {
  line-height: 1.5;
  font-size: 14px;
  margin: auto;
  color: #999;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .layering .mat .friendly .friendly_text p {
    line-height: 1.5;
    font-size: 18px;
    margin: auto;
    color: #999;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .safety img {
    width: 70%;
    height: 15em;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .safety img {
    width: 70%;
    height: 20em;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .safety .safety_text {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .safety .safety_text {
    width: 45%;
  }
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .safety .safety_text h2 {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  main #contents .wrapper .safety .safety_text h2 {
    margin-bottom: 20px;
  }
}

main #contents .wrapper .safety .safety_text .cc_1 {
  line-height: 1.5;
  font-size: 14px;
  margin: auto;
  color: #999;
  text-align: center;
  color: #000;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .safety .safety_text .cc_1 {
    line-height: 1.5;
    font-size: 18px;
    margin: auto;
    color: #999;
  }
}

main #contents .wrapper .safety .safety_text .cc_2, main #contents .wrapper .safety .safety_text .cc_3 {
  line-height: 1.5;
  font-size: 14px;
  margin: auto;
  color: #999;
  text-align: center;
}

@media screen and (min-width: 768px) {
  main #contents .wrapper .safety .safety_text .cc_2, main #contents .wrapper .safety .safety_text .cc_3 {
    line-height: 1.5;
    font-size: 18px;
    margin: auto;
    color: #999;
  }
}
/*# sourceMappingURL=the_black.css.map */