@import "style.scss";
@import "common.scss";
@import "mixin.scss";

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar { display: none; }

// header-area
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #333;
    background-color: $bg-color;
    z-index: 1;

    @include responsive(pc-size) {
        width: 80px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
        border-bottom: 0;
        border-right: 1px solid #333;
    }

    h1 {
        order: 2;

        @include responsive(pc-size) {
            order: 1;
        }

    }

    nav {
        order: 1;

        @include responsive(pc-size) {
            order: 2;
        }

        ul.gnb {
            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            li {
                display: block;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    div.side-menu {
        order: 3;

        .s-menu {         
            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }

            li {
                display: none;

                @include responsive(pc-size) {
                    display: block;
                    margin-top: 35px;
                }

                &:first-child {
                    font-size: 18px;
                    // transform: rotate(-90deg);
                    margin-top: 0;

                    a {
                        color: $font-color;
                    }
                }
    
                &:last-child {
                    display: block;
    
                    a {
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }

    div.menu-sub {
        display: none;
        position: relative;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0 40px;
        margin: 0 auto;
        z-index: 10;
        background-color: rgba(256,256,256, 0.9);

        @include responsive(pc-size) {
            margin-left: 80px;
            width: 450px;
        }

        a.closebtn {
            position: absolute;
            top: 20px;
            right: 25px;
            font-size: 60px;
        }

        a {
            color: $font-color;
            padding: 8px;
            text-decoration: none;
            font-weight: 500;
            font-size: 36px;
            transition: 0.3s;

            &:hover {
                color: #999;
            }

            &:focus {
                color: #999;
            }
        }

        ul.myMenu {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: left;

            .menu-top {
                display: flex;

                a {
                    font-size: 22px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    color: $font-color;

                    &:hover {
                        color: #999;
                    }
        
                    &:focus {
                        color: #999;
                    }
                }
            }

            li {
                margin-bottom: 10px;

                ul {
                    li {
                        a {
                            font-weight: 400;
                            font-size: 20px;
                            text-indent: 30px;
                        }
                    }
                }
            }
        }
    }

    div.search-sub {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: rgba(0,0,0, 0.9);

        .closebtn {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 60px;
            cursor: pointer;
            color: $bg-color;

            &:hover {
                color: #ccc;
            }
        }

        .search-sub-content {
            position: relative;
            top: 45%;
            transform: translateYs(-45%);
            width: 100%;
            margin: auto;

            input {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                padding: 15px;
                font-size: 17px;
                border: none;
                width: 80%;
                margin: auto;
                background: $bg-color;

                &:hover {
                    background: #f1f1f1;
                }
            }
        }
    }
}

main {
    width: $width-wide;

    @include responsive(tablet-size) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include responsive(pc-size) {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    nav {
        display: none;

        @include responsive(pc-size) {
            display: block;

        }

        .wrapper {
            width: 100%;

            @include responsive(tablet-size) {
                width: 100%;
                width: 1024px;
                margin: 0 auto;
            }

            @include responsive(pc-size) {
                width: 1024px;
                margin: 0 auto;
            }

            .top-menu-right {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                flex-direction: row;
                margin-left: 30px;
    
                li {
                    display: inline-block;
                    padding-top: 112px;
                    padding-right: 58px;
    
                    a {
                        font-size: 1em;
                        font-family: $main-font;
                    }
    
                }
            }

        }
    
    }

    .title-cart{

        position: relative;
        margin: 0 0;
        padding: 0 20px;
        margin-top: 5px;
        padding-top: 5px;
        font-size: 3em;

            .title {
                margin-top: 55px;
                padding: 0 auto;

                @include responsive(pc-size) {
                    display: block;
                    padding-left: 527px;
                    padding-top: 30px;
                    margin-top: 25px;
                }

                .title-fir {
                    font-size: 1.5em;
                    font-family: $main-font;
                    font-weight: 500;
                    padding-top: 20px;
                    margin: 30px 0;
                    line-height: 66px;
                

                    @include responsive(pc-size) {
                        display: block;
                        float: left;
                        margin: 0 auto;
                        padding: 0 auto;
                        margin-left: -283px;
                        margin-top: -90px;
                        padding-top: 5px;
                        font-size: 90px;                        
                    }
                }
                .title-sub {
                    display: none;                    
                    @include responsive(tablet-size) {
                        display: block;
                        width: 1024px;
                        font-size: 22px;
                        font-family: $main-font;
                        margin-top: -50px;
                        margin-left: -320px;
                        padding-left: 630px;
                        padding-top: 7px;
                    }

                    @include responsive(pc-size) {
                        display: block;
                        width: 1024px;
                        font-size: 22px;
                        font-family: $main-font;
                        padding-left: 430px;
                        padding-top: 5px;
                    }
                }
            }
    }
    .tabs-menu {
        width: 100%;

        @include responsive(pc-size) {
            width: 75%;
            margin: 0 auto;
            padding: 0 auto;
            padding-top: 130px;
        }

        .tabs { 
            display: table;
            width: 100%;
            table-layout: fixed;
            border-left: 2px solid #e1e1e1;
            position: relative;
            margin-bottom: 25px;
                    
            li {
                display: table-cell;
                float: left;
                width: 50%;
                height: 50px;
        
                @include responsive(tablet-size) {
                    width: 25%;
                }

                &:nth-child(n+3) {
                    margin-top: -2px;

                    @include responsive(tablet-size) {
                        margin-top: 0;
                    }
                }


                &:nth-child(n+3) {
                    margin-top: -2px;

                    @include responsive(tablet-size) {
                        margin-top: 0;
                    }

                    @include responsive(pc-size) {
                        width: 25%;
                    }
                }

                &:hover {
                    a {
                        border-bottom-color: $point-color;
                        border-top: 2px solid $point-color;
                        z-index: 1;
                        background-color: $point-color;
                        color: #fff;

                        transition: all 0.5s;

                        @include responsive(tablet-size) {
                            border-bottom-color: transparent;
                        }

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: -2px;
                            width: 2px;
                            background-color: $point-color;
                        }

                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: -2px;
                            left: -2px;
                            bottom: -2px;
                            width: 2px;
                            background-color: $point-color;
                            box-sizing: inherit;

                            transition: all 0.5s;
                        }
                    }
                }

                a {
                    display: block;
                    position: relative;
                    height: 50px;
                    border-top: 2px solid #e1e1e1;
                    border-bottom: 2px solid #e1e1e1;
                    border-right: 2px solid #e1e1e1;
    
                    font: {
                        size: 1.2em;
                        weight: 450;
                    }
                    
                    letter-spacing: 0.001em;
                    line-height: 50px;
                    text-align: center;
                    font-size: 23px;
                    color: #333333;
                    text-align: center;
    
                    @include responsive(tablet-size) {
                        border-bottom: 2px solid #e1e1e1;
                    }
    
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 2px;
                        color: #e1e1e1;
                    }
                }

            }

        }
    }
        .notice-content {

            margin: 0 auto;
            padding: 0 auto;
            padding-top: 200px;
            width: $width-wide;
            
            height: 855px;
            align-items: center;
            @include responsive(tablet-size) {
                padding-top: 560px;
                margin: 0 auto;
                padding: 0 auto;
                width: 50%;
            }
            @include responsive(pc-size) {
                padding-top: 508px;
                margin: 0 auto;
                padding: 0 auto;
                padding-left: 315px;
                width: 50%;

            }
            .notice {
                align-items: center; 
                padding-left: 17%;
            }

            .notice-text {
                margin: 0 auto;
                padding: 0 auto;
                font-size: 17px;
                color: #666666;
                transform: translateY(-210px);
                width: 78%;
                padding-bottom: 30px;

                @include responsive(tablet-size) {
                    padding-left: -53.5%;
                    margin-top: 15px;
                    padding-top: 30px;
                    position: relative;
                    transform: translateY(-25em);
                }

                @include responsive(pc-size) {
                    padding-left: -53.5%;
                    margin-left: -145px;
                    margin-top: 15px;
                    padding-top: 30px;
                    position: relative;
                    transform: translateY(-25em);
                }


                .nt-text-alert {
                    text-align: center;
                    margin: 0 auto;
                    padding: 0 auto;
                    padding-top: 50px;
                    padding-bottom: 70px;
                    font-size: 0.85em;
                }
    
                button {

                    cursor: pointer;
                    margin: 0 auto;
                    padding: 0 auto;
                    padding-left: 30px;

                    display: block;
                    text-align: center;
                    width: 230px;
                    height: 46px;
                    background-color: $point-color;
                    border-radius: 10px;
                    border-color: white;
                    font-size: 25px;
    
                    a {
                        color: #fefefe;
                        font-size: 1em;
                        font-family: $main-font;
                        width: 50%;
                        margin-left: 35px;

                        @include responsive(pc-size) {
                            color: #fefefe;
                            font-size: 1em;
                            font-family: $main-font;
                            width: 50%;
                        }
  
                    }
    
                }

            }

        }

}
   
    
